.external{
    text-decoration: underline;
    margin-left: 10px;
}
.lastdiv{
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}
.form{
    font-weight: 700;
    font-size: larger;
}
.email{
    border: 2px solid;
    padding: 5px;
    margin-bottom: 10px;
}
.pass{
    border: 2px solid;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 8px;
}
#bttn{
    background-color: chocolate;
    border: 2px salmon;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display:flex;
}
.btn1{
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    margin-right:10px;
    margin-left: 20px;
}
.btn2{
     border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    margin-left:20px;
}

*{
    background-color: antiquewhite;
}
